* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

/* Menu */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seções */
section {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
}

/* Imagens */
img {
    max-width: 100%;
    margin-left: 400px;

}

/* Formulário */
input, textarea {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    padding: 5px 10px;
}
